<h1>This is a sentiment analysis app using Cloudmersive</h1>


<form method="POST" action="/">
    <label name="userText">Enter your text:</label>
         <input type="text" name="userInput"/>    
         <input type="submit" value="submit"/>  

</form>